<div class = "titulo">
  <p style="display: inline-block; margin-top: 60px" class="h5">Otros países de la región</p>
  <a routerLink="/" style="margin-left: 7rem;"> <img style="display: inline-block;" title="Volver a pagina principal"
      style="width: 1.5rem; height: 1.5rem;" src="../../../../../../assets/back.png" /> </a>
</div>

<div style="line-height: 0.7">
  <table class="table table-striped table-hover " style="width: 100%;">
    <thead>
      <tr>
        <th scope="col" sortable="country" (sort)="onSort($event)">País</th>
        <th scope="col" sortable="tinfected" (sort)="onSort($event)">Confirmados</th>
        <th scope="col" sortable="tdead" (sort)="onSort($event)">Decesos</th>
        <th scope="col" sortable="porcent" (sort)="onSort($event)"> % </th>
      </tr>
    </thead>
    <tbody>
      <!-- *ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" -->

      <tr *ngFor="let resume of actualizacionesResume | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td scope="row" style="width: 160px;"><a routerLink="/pais/{{ resume.lugar }}">{{ resume.lugar }}</a></td>
        <td>
          <ngb-highlight [result]="resume.totalContagiados | number"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="resume.totalDecesos | number"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="resume.porcent | number"></ngb-highlight>%
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="actualizacionesResume.length" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>
  </div>

</div>