.cifras-glob{
    margin:0;    
}

.text-glob{
    font-size: 1rem;
}

p{
    margin-top: 15px;
    margin-bottom: 5px;
}

.info-header{
    width: 100%;
    /* height: 60px; */
}

.h2{
    color: steelblue;
    margin-bottom: -4px;
}

.glosa-header{
    color: lightslategrey;
    font-size: .4rem;
    font-family: 'Times New Roman', Times, serif
}