<p class="h2"> {{ input.titulo }} </p> 
<!-- <a routerLink="/"><span class="material-icons">keyboard_return</span></a> -->
<div ngbTooltip="Cifras globales aproximadas" class="card-header bg-info text-white d-flex info-header">
    <h1 class="cifras-glob"><span class="badge badge-secondary">{{ input.totalInfected | number:'1.0-0' }}</span> <span class="text-glob"> total infected</span> </h1>
    <h1 class="cifras-glob" style="margin-left: 1.5rem;"><span class="badge badge-secondary">{{ input.totalDead | number:'1.0-0' }}</span> <span class="text-glob"> total dead</span> </h1>
    <h1 class="cifras-glob" style="margin-left: 1.5rem;"><span class="badge badge-secondary">{{ input.percentage.replace('.', ',') }}%</span> <span class="text-glob">  percentage</span> </h1>
    <h1 class="cifras-glob" style="margin-left: 1.5rem;"><span class="badge badge-secondary">1 / {{ input.relation  | number:'1.0-0' }}</span> <span class="text-glob">  relation</span> </h1>
</div>

